# Copyright (c) 2022 Daniel Grenehed
# SPDX-License-Identifier: MIT

config BOARD_ENABLE_DCDC
	bool "Enable DCDC mode"
	select SOC_DCDC_NRF52X
	default y
	depends on BOARD_HS22K

CONFIG_ZMK_COMBO_MAX_PRESSED_COMBOS=6
COMFIG_ZMK_COMBO_MAX_COMBOS_PER_KEY=10
CONFIG_ZMK_COMBO_MAX_KEYS_PER_COMBO=6
